<!-- Header -->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2 align-middle py-0 mb-0 text-primary">
        Listado de Operaciones de Cobro  
    </h1>
</div>
<!-- End Header -->

<!-- Datatable -->
<table datatable [dtOptions]="dtOptions" class="row-border hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Tipo</th>
        <th>Monto</th>
        <th>Informacion</th>
        <th>Fecha</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let operacion of operaciones">
            <td>{{ operacion.id }}</td>
            <td>{{ operacion.tipo }}</td>
            <td>{{ operacion.monto }}</td>
            <td>{{ operacion.informacion }}</td>
            <td>{{ operacion.fecha }}</td>
            <td>{{ operacion.estado }}</td>
          </tr>
    </tbody>
  </table>
  <!-- End Datatable -->