
<div class="row">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card">
            <div class="card-header">
                <legend class="text-center">Recuperacion de Contraseña</legend>
            </div>
            <div class="card-body">
                
                <form [formGroup]="registerForm" (ngSubmit)="recuperarPassword()">
                    <fieldset>
                      
                        <div class="form-group">
                            <label for="exampleInputEmail1">Correo</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" 
                                    formControlName="email">
                            <small id="emailHelp" class="form-text text-muted">Nunca compartiremos tu correo con nadie mas</small>
                          </div>
                     
                      <button type="submit"  [disabled]="!registerForm.valid" class="btn btn-primary btn-large btn-block">Recuperar Contraseña</button>
                    </fieldset>
                  </form>  
                
                  <div class="form-group mt-3">
                    <p>Regresar al <a [routerLink]="['/login']" routerLinkActive="router-link-active" > Login</a></p>

                  </div>
            </div>
        </div>
    </div>
</div>

