<!-- Header -->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2 align-middle py-0 mb-0 text-primary">
      Dashborad 
  </h1>
</div>
<!-- End Header -->

<!-- Card Deck -->
<div class="card-deck">
    <!-- Card -->
    <div routerLink="/home/administrar-usuarios" routerLinkActive="active" style="cursor: pointer" class="card bg-info text-white">
        <div class="card-header">
            <h3 class="card-title">Administrar usuarios 
                <span style="font-size: 3em; color: Tomato;">  
                <i  id="userIcon" class="fa fa-user-o float-right text-white"></i>
                </span>
            </h3>
        </div>
        <div class="card-body ">
          <p class="card-text">Administrar datos de los usuarios registrados en el sistema.</p>
        </div>
      </div>
      <!-- End Card -->
      <!-- Card -->
    <div routerLink="/home/admin-config-parametros" routerLinkActive="active" style="cursor: pointer" class="card bg-warning text-white">
        <div class="card-header" >
            <h3 class="card-title">Configurar Parametros
                <span style="font-size: 2.8em; color: Tomato;">  
                <i class="fa fa-edit float-right text-white"></i>
                </span>
            </h3>
        </div>
      <div class="card-body ">

        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
   <!-- End Card -->
      <!-- Card -->
    <div class="card bg-danger text-white">
        <div class="card-header">
            <h3 class="card-title">Reportes  
                <span style="font-size: 3em; color: Tomato;">  
                <i id="userIcon" class="fa fa-file-text-o float-right text-white"></i>
                </span>
            </h3>
        </div>
      <div class="card-body">
        <!-- Listado de Reportes -->
        <div class="list-group ">
            <a id="link" href="#" class="list-group-item list-group-item-action">Cantidad de operaciones</a>
            <a id="link" href="#" class="list-group-item list-group-item-action">Monto de recaudado en comisiones</a>
            <a id="link" href="#" class="list-group-item list-group-item-action">Operaciones fallidas</a>
            <a id="link" href="#" class="list-group-item list-group-item-action">Operaciones de cobro pendientes</a>
            <a id="link" href="#" class="list-group-item list-group-item-action" tabindex="-1" aria-disabled="true">Operaciones de retiro</a>
          </div>

      </div>
    </div>
    <!-- End Card -->
  </div>


  <!-- 

<div class="row">
    <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
            <div class="card-box noradius noborder bg-default">
                    <i class="fa fa-file-text-o float-right text-white"></i>
                    <h6 class="text-white text-uppercase m-b-20">Orders</h6>
                    <h1 class="m-b-20 text-white counter">1,587</h1>
                    <span class="text-white">15 New Orders</span>
            </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
            <div class="card-box noradius noborder bg-warning">
                    <i class="fa fa-bar-chart float-right text-white"></i>
                    <h6 class="text-white text-uppercase m-b-20">Visitors</h6>
                    <h1 class="m-b-20 text-white counter">250</h1>
                    <span class="text-white">Bounce rate: 25%</span>
            </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
            <div class="card-box noradius noborder bg-info">
                    <i class="fa fa-user-o float-right text-white"></i>

                    <h1 class="m-b-20 text-white counter">Administrar datos de los usuarios</h1>
                    <h6 class="text-white text-uppercase m-b-20">aja</h6>
                    <span class="text-white">25 New Users</span>
            </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
            <div class="card-box noradius noborder bg-danger">
                    <i class="fa fa-bell-o float-right text-white"></i>
                    <h6 class="text-white text-uppercase m-b-20">Alerts</h6>
                    <h1 class="m-b-20 text-white counter">58</h1>
                    <span class="text-white">5 New Alerts</span>
            </div>
    </div>
</div>

   -->

   