    <!-- Sidebar -->
    <div class="bg-dark text-white border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Menu Principal </div>
      <div class="list-group list-group-flush">
      
        <a  routerLink="/home/dashboard" routerLinkActive="active" class="list-group-item list-group-item-action list-group-item-primary text-white bg-dark">Dashboard</a>
        
        <h3>Admin</h3>
        <a  routerLink="/home/admin-dashboard" routerLinkActive="active" class="list-group-item list-group-item-action list-group-item-primary text-white bg-dark">Dashboard</a>
        <a  routerLink="/home/admin-cantidad-operaciones" routerLinkActive="active" class="list-group-item list-group-item-action list-group-item-primary text-white bg-dark">cantidad-operaciones</a>
        <a  routerLink="/home/admin-config-parametros" routerLinkActive="active" class="list-group-item list-group-item-action list-group-item-primary text-white bg-dark">config-parametros</a>
        <a  routerLink="/home/admin-operaciones-cobro" routerLinkActive="active" class="list-group-item list-group-item-action list-group-item-primary text-white bg-dark">operaciones-cobro</a>
        <a  routerLink="/home/admin-operaciones-fallidas" routerLinkActive="active" class="list-group-item list-group-item-action list-group-item-primary text-white bg-dark">operaciones-fallidas</a>
        <a  routerLink="/home/admin-operaciones-retiro" routerLinkActive="active" class="list-group-item list-group-item-action list-group-item-primary text-white bg-dark">operaciones-retiro</a>
        <a  routerLink="/home/admin-recaudo-comision" routerLinkActive="active" class="list-group-item list-group-item-action list-group-item-primary text-white bg-dark">recaudo-comision</a>
        <a  routerLink="/home/administrar-usuarios" routerLinkActive="active" class="list-group-item list-group-item-action list-group-item-primary text-white bg-dark">administrar-usuarios</a>


        <!--         <a  routerLink="/home/dashboard" routerLinkActive="active" class="list-group-item list-group-item-action list-group-item-primary text-primary bg-light">Dashboard</a>
 -->    
      </div>
    </div>
    <!-- /#sidebar-wrapper -->
