    <!-- Sidebar -->
    <div class="bg-dark text-white border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Menu Principal </div>
      <div class="list-group list-group-flush">
      
        <div class="ng-container" *ngIf="isPersona">
        <h3>Persona</h3>
        <a  routerLink="/home/dashboard" routerLinkActive="active" class="list-group-item list-group-item-action list-group-item-primary text-white bg-dark"><i class="fa fa-circle text-info"></i> Dashboard</a>
        <a  routerLink="/home/consultar-saldo" routerLinkActive="active" class="list-group-item list-group-item-action list-group-item-primary text-white bg-dark"><i class="fa fa-circle text-info"></i> Consultar Saldo</a>
        <a  routerLink="/home/recarga" routerLinkActive="active" class="list-group-item list-group-item-action list-group-item-primary text-white bg-dark"><i class="fa fa-circle text-info"></i> Recargar Saldo</a>
        <a  routerLink="/home/ingresar-cuenta" routerLinkActive="active" class="list-group-item list-group-item-action list-group-item-primary text-white bg-dark"><i class="fa fa-circle text-warning"></i> Ingresar Cuenta</a>
        <a  routerLink="/home/mostrar-cuentas" routerLinkActive="active" class="list-group-item list-group-item-action list-group-item-primary text-white bg-dark"><i class="fa fa-circle text-warning"></i> Consultar Cuentas</a>
        <a  routerLink="/home/ajustes-perfil" routerLinkActive="active" class="list-group-item list-group-item-action list-group-item-primary text-white bg-dark"><i class="fa fa-circle text-warning"></i> Ajustes Perfil</a>
        <a  routerLink="/home/bloqueo-operaciones" routerLinkActive="active" class="list-group-item list-group-item-action list-group-item-primary text-white bg-dark"><i class="fa fa-circle text-info"></i> Bloqueo de Operaciones</a>
        <a  routerLink="/home/config-parametros" routerLinkActive="active" class="list-group-item list-group-item-action list-group-item-primary text-white bg-dark"><i class="fa fa-circle text-warning"></i> Configuraciones de Parametros</a>   
        <a  routerLink="/home/crear-subusuario" routerLinkActive="active" class="list-group-item list-group-item-action list-group-item-primary text-white bg-dark"><i class="fa fa-circle text-warning"></i> Registrar Sub-Usario</a>
        <a  routerLink="/home/consultar-subusuarios" routerLinkActive="active" class="list-group-item list-group-item-action list-group-item-primary text-white bg-dark"><i class="fa fa-circle text-warning"></i> Consultar Sub-Usuarios</a>
        <a  routerLink="/home/cambio-password" routerLinkActive="active" class="list-group-item list-group-item-action list-group-item-primary text-white bg-dark"><i class="fa fa-circle text-warning"></i> Cambio de Passwrod</a>
        <a  routerLink="/home/encriptacion" routerLinkActive="active" class="list-group-item list-group-item-action list-group-item-primary text-white bg-dark"><i class="fa fa-circle text-warning"></i> Encriptacion</a>
        </div>
        
        <div class="ng-container" *ngIf="isAdministrador">
        <h3>Admin</h3>
        <a  routerLink="/home/admin-dashboard" routerLinkActive="active" class="list-group-item list-group-item-action list-group-item-primary text-white bg-dark"> <i class="fa fa-circle text-warning"></i> Dashboard</a>
        <a  routerLink="/home/admin-cantidad-operaciones" routerLinkActive="active" class="list-group-item list-group-item-action list-group-item-primary text-white bg-dark"><i class="fa fa-circle text-info"></i>  cantidad-operaciones</a>
        <a  routerLink="/home/admin-config-parametros" routerLinkActive="active" class="list-group-item list-group-item-action list-group-item-primary text-white bg-dark"><i class="fa fa-circle text-warning"></i> config-parametros</a>
        <a  routerLink="/home/admin-operaciones-cobro" routerLinkActive="active" class="list-group-item list-group-item-action list-group-item-primary text-white bg-dark"><i class="fa fa-circle text-warning"></i> operaciones-cobro</a>
        <a  routerLink="/home/admin-operaciones-fallidas" routerLinkActive="active" class="list-group-item list-group-item-action list-group-item-primary text-white bg-dark"><i class="fa fa-circle text-warning"></i> operaciones-fallidas</a>
        <a  routerLink="/home/admin-operaciones-retiro" routerLinkActive="active" class="list-group-item list-group-item-action list-group-item-primary text-white bg-dark"><i class="fa fa-circle text-warning"></i> operaciones-retiro</a>
        <a  routerLink="/home/admin-recaudo-comision" routerLinkActive="active" class="list-group-item list-group-item-action list-group-item-primary text-white bg-dark"><i class="fa fa-circle text-info"></i>  recaudo-comision</a>
        <a  routerLink="/home/administrar-usuarios" routerLinkActive="active" class="list-group-item list-group-item-action list-group-item-primary text-white bg-dark"><i class="fa fa-circle text-warning"></i> administrar-usuarios</a>
        </div>

        <div class="ng-container" *ngIf="isComercio">
         <h3>Comercio</h3> 
         <a  routerLink="/home/comercio-dashboard" routerLinkActive="active" class="list-group-item list-group-item-action list-group-item-primary text-white bg-dark"><i class="fa fa-circle text-info"></i> Dashboard</a>
         <a  routerLink="/home/comercio-ajustes-perfil" routerLinkActive="active" class="list-group-item list-group-item-action list-group-item-primary text-white bg-dark"><i class="fa fa-circle text-warning"></i> Ajustes Perfil</a>
         <a  routerLink="/home/comercio-consultar-saldo" routerLinkActive="active" class="list-group-item list-group-item-action list-group-item-primary text-white bg-dark"><i class="fa fa-circle text-info"></i> Consultar Saldo</a>
         <a  routerLink="/home/comercio-solicitud-retiro" routerLinkActive="active" class="list-group-item list-group-item-action list-group-item-primary text-white bg-dark"><i class="fa fa-circle text-info"></i> Solicitud Retiro de Fondos</a>
         <a  routerLink="/home/comercio-consultar-solicitudes-retiro" routerLinkActive="active" class="list-group-item list-group-item-action list-group-item-primary text-white bg-dark"><i class="fa fa-circle text-info"></i> Consultar Solicitudes Retiro de Fondos</a>
        </div>
         <!--         <a  routerLink="/home/dashboard" routerLinkActive="active" class="list-group-item list-group-item-action list-group-item-primary text-primary bg-light">Dashboard</a>
 -->    
      </div>
    </div>
    <!-- /#sidebar-wrapper -->
