<!-- Header -->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2 align-middle py-0 mb-0 text-primary">
        Dashboard 
    </h1>
  </div>
  <!-- End Header -->
  
  <!-- Card Deck -->
  <div class="card-deck">
      <!-- Card -->
      <div routerLink="/home/comercio-consultar-saldo" routerLinkActive="active" style="cursor: pointer" class="card bg-info text-white">
          <div class="card-header">
              <h3 class="card-title">Consultar Saldo
                  <span style="font-size: 3em; color: Tomato;">  
                    <i id="userIcon" class="fa fa-file-text-o float-right text-white"></i>
                  </span>
              </h3>
          </div>
          <div class="card-body ">
            <p class="card-text">Consultar saldo en el monedero.</p>
          </div>
        </div>
        <!-- End Card -->
        <!-- Card -->
      <div routerLink="/home/comercio-consultar-solicitudes-retiro" routerLinkActive="active" style="cursor: pointer" class="card bg-warning text-white">
          <div class="card-header" >
              <h3 class="card-title">Consultar solicitudes retiro de fondo
                  <span style="font-size: 2.8em; color: Tomato;">  
                    <i id="userIcon" class="fa fa-file-text-o float-right text-white"></i>
                  </span>
              </h3>
          </div>
        <div class="card-body ">
  
          <p class="card-text">Consultar las solicitudes retiro de fondo realizadas.</p>
        </div>
      </div>
     <!-- End Card -->
        <!-- Card -->
        <div routerLink="/home/comercio-solicitud-retiro" routerLinkActive="active" style="cursor: pointer">
      <div class="card bg-danger text-white">
          <div class="card-header">
              <h3 class="card-title">Solicitud Retiro de Fondos 
                  <span style="font-size: 3em; color: Tomato;">  
                    <i class="fa fa-edit float-right text-white"></i>
                  </span>
              </h3>
          </div>
        <div class="card-body">
            <p class="card-text">Realizar solicitud de retiro de fondos.</p>
            <p class="card-text">                                      .</p>
            <p class="card-text">                                      .</p>
            <p class="card-text">                                      .</p>
            <p class="card-text">                                      .</p>
            <p class="card-text">                                      .</p>

        </div>
      </div>
    </div>
      <!-- End Card -->
    </div>
  
  
     