
<div class="row">
  <div class="col-md-6 mx-auto mt-5">
      <div class="card">
        <div class="card-header text-Primary">
          <legend class="text-center ">Registro Persona</legend> 
        </div>
          <div class="card-body">
              
              <form [formGroup]="registerForm" (ngSubmit)="registrarPersona()">
                  <fieldset>
                    <h3 class=""><strong>Datos de la cuenta: </strong></h3> 
                    <div class="form-group">
                      <label for="exampleInputPassword1">Usuario</label>
                      <input type="text" class="form-control" id="exampleInputNombre" placeholder="Usuario" 
                              formControlName="usuario">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Correo</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" 
                              formControlName="email">
                      <small id="emailHelp" class="form-text text-muted">Nunca compartiremos tu correo con nadie mas</small>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Contraseña</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" 
                              formControlName="password">
                    </div>

                    <h3 class=""><strong>Datos Personales: </strong></h3> 

                    <div class="row">
                    <div class="form-group col">
                      <label for="exampleInputPassword1">Nombre</label>
                      <input type="text" class="form-control" id="exampleInputNombre" placeholder=" Primer Nombre" 
                              formControlName="nombre">
                    </div>
                    <div class="form-group col">
                      <label for="exampleInputPassword1">Segundo Nombre</label>
                      <input type="text" class="form-control" id="exampleInputNombre" placeholder="Segundo Nombre" 
                              formControlName="segundoNombre">
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col">
                      <label for="exampleInputPassword1">Apellido</label>
                      <input type="text" class="form-control" id="exampleInputApellido" placeholder="Primer Apellido" 
                              formControlName="apellido">
                    </div>
                    <div class="form-group col">
                      <label for="exampleInputPassword1">Segundo Apellido</label>
                      <input type="text" class="form-control" id="exampleInputApellido" placeholder="Segundo Apellido" 
                              formControlName="segundoApellido">
                    </div>
                  </div>

                    <div class="row">
                      <div class="form-group col">
                        <label for="dateOfBirth">Fecha de Nacimiento</label>
                        <input id="dateOfBirth2" name="dateOfBirth" placeholder="Fecha de Nacimiento"
                                type="text" bsDatepicker [bsConfig]="datePickerConfig" 
                                class="form-control mb-3" 
                                formControlName="fechaNacimiento" />

                      </div>

                      <div class="form-group col">
                        <label for="exampleInputTelefono">Telefono</label>
                        <input type="phone" class="form-control" id="exampleInputTelefono"  placeholder="Telefono" 
                                formControlName="telefono">
                      </div>
                    </div>
                                       


                    <!-- <div class="form-group">
                      <label for="exampleInputPassword1">Estado Civil</label>
                      <select type="text" class="form-control" id="exampleSelect1" formControlName="estadoCivil">
                          <option>soltero</option>
                          <option>casado</option>
                          <option>otro</option>
                      </select>
                    </div> -->

                    <div class="form-group">
                      <label for="exampleInputPassword1">Direccion</label>
                      <input type="text" class="form-control" id="exampleInputApellido" placeholder="Direccion" 
                              formControlName="direccion">
                    </div>
                  
                    

                    <button type="submit"  [disabled]="!registerForm.valid" class="btn btn-primary btn-large btn-block">Registrarse</button>
                    <!-- <button type="submit"  class="btn btn-primary btn-large btn-block">Registrarse</button> -->
                  </fieldset>
                </form>  
                
                
                
                <div class="form-group mt-3">
                  <p>Ya tienes una cuenta?<a [routerLink]="['/login']" routerLinkActive="router-link-active" > Login</a></p>
                  <p>Deseo registrarme como<a [routerLink]="['/registroComercio']" routerLinkActive="router-link-active" > Comercio</a></p>
                </div>
          </div>
      </div>
  </div>
</div>

