
<div class="row">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card">
            <div class="card-body">
                
                <form [formGroup]="registerForm" (ngSubmit)="registrarComercio()">
                    <fieldset>
                      <legend class="text-center">Registro Comercio</legend>
                      <div class="form-group">
                        <label for="exampleNombre">Nombre Representante</label>
                        <input type="text" class="form-control" id="exampleInputNombre" placeholder="Nombre representante" 
                                formControlName="nombreRepresentante">
                      </div>
                      <div class="form-group">
                        <label for="exampleApellido">Apellido Representante</label>
                        <input type="text" class="form-control" id="exampleInputApellido" placeholder="Apellido representante" 
                                formControlName="apellidoRepresentante">
                      </div>
                    
            
                      <div class="form-group">
                        <label for="exampleRazonSocial">Razon Social</label>
                        <input type="phone" class="form-control" id="exampleRazonSocial"  placeholder="Razon Social" 
                                formControlName="razonSocial">
                      </div>

                      <div class="form-group">
                        <label for="exampleTelefono">Telefono</label>
                        <input type="phone" class="form-control" id="exampleTelefono"  placeholder="Telefono" 
                                formControlName="telefono">
                      </div>

                      <div class="form-group">
                        <label for="exampleEmail">Correo</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email" 
                                formControlName="email">
                        <small id="emailHelp" class="form-text text-muted">Nunca compartiremos tu correo con nadie mas</small>
                      </div>
                      <div class="form-group">
                        <label for="examplePassword">Contraseña</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" 
                                formControlName="password">
                      </div>
                      
                   
                      <button type="submit" class="btn btn-primary btn-large btn-block">Registrarse</button>
                    </fieldset>
                  </form>  
                  
                  
                  
                  <div class="form-group mt-3">
                    <p>Ya tienes una cuenta?<a [routerLink]="['/login']" routerLinkActive="router-link-active" > Login</a></p>
                    <p>Deseo registrarme como<a [routerLink]="['/registroPersona']" routerLinkActive="router-link-active" > Persona</a></p>
                  </div>
            </div>
        </div>
    </div>
</div>

