<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
  <a class="navbar-brand" href="/">MonyUCAB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home </a>
        </li>       
      </ul>
      
      <ul class="navbar-nav ml-auto">
         
        <li class="nav-item " style = "cursor: pointer" *ngIf="!isLogged">
            <a class="nav-link" >Logout</a>
          </li> 
          <div class="ng-container" >  </div><!-- *ngIf="!authService.LoggedIn()" --> 
            <li class="nav-item" *ngIf="!isLogged">
              <a class="nav-link" [routerLink]="['/login']" >Login</a>
            </li>   
            <li class="nav-item  dropdown" *ngIf="!isLogged">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Registro</a>
              <div class="dropdown-content">
                <a class="dropdown-item" [routerLink]="['/registroPersona']">Persona</a>
                <a class="dropdown-item" [routerLink]="['/registroComercio']">Comercio</a>
                
                <!-- <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Administrador</a> --> <!-- En caso de necesitar Admin -->
               
              </div>
            </li>

         
          

      </ul>
      
    </div>
  </div>
  </nav>