
<div class="row">
  <div class="col-md-6 mx-auto mt-5">
      <div class="card">
          <div class="card-body">
              
              <form [formGroup]="registerForm" (ngSubmit)="recargarSaldo()">
                  <fieldset>
                    <legend class="text-center">Recargar Saldo</legend>

                    
                    <div class="form-group">
                      <label for="exampleInputPassword1">Seleccione su cuenta</label>
                      <select type="text" class="form-control" id="exampleSelect1" formControlName="cuenta">
                         
                            <option *ngFor="let cuenta of cuentas" [value]="cuenta.mostrar">
                              {{cuenta.mostrar}}
                            </option>

                          <!-- <option>Paypal</option>
                          <option>Stripe</option> -->
                      </select>
                    </div>

                    <div class="form-group">
                      <label for="exampleInputPassword1">Monto</label>
                      <input type="text" class="form-control" id="exampleInputNombre" placeholder="Numero de cuenta" 
                              formControlName="monto" >
                    </div>
                  
                   
                    <button type="submit"  [disabled]="!registerForm.valid" class="btn btn-primary btn-large btn-block">Recargar</button>
                  </fieldset>
                </form>  
              
          </div>
      </div>
  </div>
</div>
