<blockquote>Please click on a row</blockquote>
<p class="text-danger">You clicked on: <strong>{{ message }}</strong></p>
<br />

<table datatable [dtOptions]="dtOptions" class="row-border hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let person of persons">
            <td>{{ person.id }}</td>
            <td>{{ person.nombre }}</td>
            <td>{{ person.apellido }}</td>
          </tr>
    </tbody>
  </table>

<!-- End Table -->

<!-- Card -->


<div class="row">
							
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">						
        <div class="card mb-3">
            <div class="card-header">
                <h3><i class="fa fa-user"></i> Detalles del Perfil</h3>								
            </div>
                
            <div class="card-body">

                <form [formGroup]="registerForm" (ngSubmit)="registrarPersona()">
                <fieldset>
                <div class="row">	
                
                    <div class="col-lg-3 col-xl-3 border-left">
                        <b>Latest activity</b>: Dec 06 2017, 22:23	
                        <br />
                        <b>Register date: </b>: Nov 24 2017, 20:32	
                        <br />
                        <b>Register IP: </b>: 123.456.789
                        
                        <div class="m-b-10"></div>
                        
                        <div id="avatar_image">
                            <img alt="image" style="max-width:100px; height:auto;" src="assets/images/avatars/admin.png" />
                            <br />
                            <i class="fa fa-trash-o fa-fw"></i> <a class="delete_image" href="#">Remove avatar</a>
                                        
                        </div>  
                        <div id="image_deleted_text"></div>                      

                        
                        <div class="m-b-10"></div>
                        
                        <div class="form-group">
                        <label>Change avatar</label> 
                        <input type="file" name="image" class="form-control">
                        </div>
                        
                    </div>

                    <div class="col-lg-9 col-xl-9">

                        <legend class="text-center">Registro Persona</legend>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Nombre</label>
                        <input type="text" class="form-control" id="exampleInputNombre" placeholder="Nombre" 
                                formControlName="nombre">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Apellido</label>
                        <input type="text" class="form-control" id="exampleInputApellido" placeholder="Apellido" 
                                formControlName="apellido">
                      </div>
                     
                      <div class="row">
                        <div class="form-group col-md-5">
                          <label for="dateOfBirth">Fecha de Nacimiento</label>
                          <input id="dateOfBirth2" name="dateOfBirth" placeholder="Fecha de Nacimiento"
                                  type="text" bsDatepicker 
                                  class="form-control mb-3" 
                                  formControlName="fechaNacimiento" />
                         
                         
                        </div>
                      </div>
                     
                      <div class="form-group">
                        <label for="exampleInputTelefono">Telefono</label>
                        <input type="phone" class="form-control" id="exampleInputTelefono"  placeholder="Telefono" 
                                formControlName="telefono">
                      </div>

                      <div class="form-group">
                        <label for="exampleInputEmail1">Correo</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" 
                                formControlName="email">
                        <small id="emailHelp" class="form-text text-muted">Nunca compartiremos tu correo con nadie mas</small>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Contraseña</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" 
                                formControlName="password">
                      </div>



                    </div>
                    </div>

                    <button type="submit" class="btn btn-primary btn-large btn-block">Registrarse</button>
                </fieldset>
              </form>  



            </div>	
            <!-- end card-body -->			
            					
                
            </div>
            <!-- end card -->					
            
            </div>
            <!-- end col -->	
                                        
            </div>