<blockquote>Please click on a row</blockquote>
<p class="text-danger">You clicked on: <strong>{{ message }}</strong></p>
<br />

<table datatable [dtOptions]="dtOptions" class="row-border hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let person of persons">
            <td>{{ person.id }}</td>
            <td>{{ person.nombre }}</td>
            <td>{{ person.apellido }}</td>
          </tr>
    </tbody>
  </table>

<!-- End Table -->

<!-- Card -->


