
<div class="row">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card">
            <div class="card-body">
                
                <form [formGroup]="registerForm" (ngSubmit)="cambiarPassword()">
                    <fieldset>
                      <legend class="text-center">Cambio de Contraseña</legend>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Contraseña Vieja</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" 
                                formControlName="oldPassword">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Contraseña Nueva</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" 
                                formControlName="newPassword">
                      </div>
                     
                      <button type="submit"  [disabled]="!registerForm.valid" class="btn btn-primary btn-large btn-block">Registrarse</button>
                    </fieldset>
                  </form>  
                
            </div>
        </div>
    </div>
</div>

